{% extends "shoppers/base.html" %}

{% block header %}
<style>
.heading {
  font-size: 2em;
}
</style>
{% endblock %}

{% block content %}
  <form method="post">
  {% csrf_token %}
    <div class=heading>Welcome {{ name }}.</div>
    <div>You're almost done!</div>
    <div class=main>We need your permission to run a background check.  By clicking on the button below you are giving us permission to run a background check.</div>
    <input class="btn btn-primary" type="submit" value="OK" />
  </form>
{% endblock %}